<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        function register() {
            var user_id = document.getElementById("user_idTxt").value;
            window.location.href = '/register?user_id=' + user_id;
        }
        function balance() {
            var user_id = document.getElementById("user_idTxt").value;
            window.location.href = '/balance?user_id=' + user_id;
        }
        function profile() {
            var user_id = document.getElementById("user_idTxt").value;
            window.location.href = '/profile?user_id=' + user_id;
        }
    </script>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Home</h1>
    <p>{{content}}</p>
    <input name="user_idTxt" type="text" id="user_idTxt" value="joverton"/>
    <button onclick="javascript:register()">Register</button>
    <p/>
    <button onclick="profile()">Update Your Profile</button>
    <p/>
    <a href="/shop" target="_blank">Shop</a>
    <p/>
    <a href="/pay">Pay</a>
    <p/>
    <a href="/update_order">Update Order</a>
    <p/>
    <a href="/review_orders" target="_blank">Review Orders</a>
    <p/>
    <button onclick="balance()">Check Balance</button>
</body>
</html>