<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        function update_profile() {
            var image_url = document.getElementById("image_url_Txt").value;
            var profile_url = document.getElementById("profile_url_Txt").value;
            var description = document.getElementById("description_Txt").value;
            var tags = document.getElementById("tags_Txt").value;
            var rating = document.getElementById("rating_Txt").value;
            var status = document.getElementById("status_Txt").value;

            var profile = "{'image_url': '" + image_url + "', 'profile_url': '" + profile_url + "', 'description': '" + description + "', 'tags': '" + tags + "', 'rating': '" + rating + "', 'status': '" + status + "'}";

            var xhttp = new XMLHttpRequest();

            req = "http://127.0.0.1:5000/update_profile?user_id=joverton&profile=" + profile
            xhttp.open("GET", req, true);
            xhttp.send();

            alert('update sent');
        }
    </script>
</head>
<body>
    <p>{{msg}}</p>
    <table>
        <tr>
            <td>Image URL</td>
            <td><input name="image_url_Txt" type="text" id="image_url_Txt" value="www.images/profile.jpg"/></td>
        </tr>
        <tr>
            <td>Profile URL</td>
            <td><input name="profile_url_Txt" type="text" id="profile_url_Txt" value="www.myblogs.com/me"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input name="description_Txt" type="text" id="description_Txt" value="A wonderful and experienced technologist"/></td>
        </tr>
        <tr>
            <td>Tags</td>
            <td><input name="tags_Txt" type="text" id="tags_Txt" value="DroneTech, Python, C++"/></td>
        </tr>
        <tr>
            <td>Rating</td>
            <td><input name="rating_Txt" type="text" id="rating_Txt" value="5"/></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select name="status_Txt" id="status_Txt">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
            </td>
        </tr>
        <tr>
            <td/>
            <td><button onclick="update_profile()">Update Your Profile</button></td>
        </tr>
    </table>
    <p/>
    <a href="/">home</a>
</body>
</html>