<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        function update_order() {
            var supplier = document.getElementById("supplier_Txt").value;
            var customer = document.getElementById("customer_Txt").value;
            var payment_method = document.getElementById("payment_method_Txt").value;
            var price = document.getElementById("price_Txt").value;
            var order_details = document.getElementById("order_details_Txt").value;
            var tc = document.getElementById("tc_Txt").value;
            var status = document.getElementById("status_Txt").value;
            var status_date = document.getElementById("status_date_Txt").value;

            var order = "{'supplier': '" + supplier + "', 'customer': '" + customer + "', 'payment_method': '" + payment_method + "', 'price': '" + price + "', 'order_details': '" + order_details + "', 'tc': '" + tc + "', 'status': '" + status + "', 'status_date': '" + status_date + "'}";
            var xhttp = new XMLHttpRequest();

            req = "http://127.0.0.1:5000/update_order?order=" + order
            xhttp.open("GET", req, true);
            xhttp.send();

            alert('order_updated');
        }
    </script>
</head>
<body>
    <p>{{msg}}</p>
    <p/>
    <table>
        <tr>
            <td>Supplier</td>
            <td><input name="supplier_Txt" type="text" id="supplier_Txt" value="drone"/></td>
        </tr>
        <tr>
            <td>Customer</td>
            <td><input name="customer_Txt" type="text" id="customer_Txt" value="joverton"/></td>
        </tr>
        <tr>
            <td>Payment Method</td>
            <td><input name="payment_method_Txt" type="text" id="payment_method_Txt" value="FEx"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input name="price_Txt" type="text" id="price_Txt" value="125"/></td>
        </tr>
        <tr>
            <td>Order Details</td>
            <td><input name="order_details_Txt" type="text" id="order_details_Txt" value="Deliver to 123 Main"/></td>
        </tr>
        <tr>
            <td>Terms and Conditions</td>
            <td><input name="tc_Txt" type="text" id="tc_Txt" value="Be nice to the drone when it arrives"/></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select name="status_Txt" id="status_Txt">
                  <option value="active">In Progress</option>
                  <option value="inactive">Complete</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Status Date</td>
            <td><input name="status_date_Txt" type="text" id="status_date_Txt" value="08/06/2020"/></td>
        </tr>
        <tr>
            <td/>
            <td><button onclick="update_order()">Update Your Order</button></td>
        </tr>
    </table>
    <a href="/">home</a>
</body>
</html>